.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Pretendard', sans-serif;
}


.app-container {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #ccc; /* 선택 사항 */
  background-color: #fff;
  overflow: hidden; /* 고정 크기에서 넘치는 부분 숨기기 */
  display: flex;
  flex-direction: column;
}

.app-container::-webkit-scrollbar {
  display: none;
}


/* 스크롤 가능한 콘텐츠 컨테이너 */
.scrollable-content {
  flex: 1; /* 남은 공간을 채움 */
  overflow-y: auto;
  padding-bottom: 60px; /* 고정 Navbar 공간 확보 */
}

/* 기본 스크롤바 숨기기 */
.scrollable-content::-webkit-scrollbar {
  display: none;
}
.scrollable-content {
  -ms-overflow-style: none; /* IE 스크롤바 */
  scrollbar-width: none; /* Firefox 스크롤바 */
}

.scrollable-content-x {
  
  overflow-x: auto; /* 가로 스크롤만 활성화 */
  overflow-y: hidden; /* 세로 스크롤 비활성화 */
  white-space: nowrap; /* 가로 정렬 */
  display: flex; /* 플렉스 컨테이너로 설정하여 항목을 가로로 배치 */
  gap: 8px; /* 아이템 간 간격 */
  max-width: 390px; /* app-container의 폭과 동일하게 고정 */
}

.scrollable-content-x::-webkit-scrollbar {
  display: none; /* 가로 스크롤바 숨기기 */
}




/* 고정된 위치의 Navbar */
.navbar-fixed {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  z-index: 1000; /* 다른 콘텐츠 위에 위치 */
}

/* 고정된 위치의 buttonGroup */
.fixed-button-group {
  position: fixed;
  bottom: 60px; /* Navbar 위로 18px 떨어진 위치 */
  left: 50%;
  transform: translateX(-50%);
  width: 288px;
  height: 42px;
  background-color: #C7C9CE;
  opacity: 80%;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  z-index: 1010; /* Navbar보다 위에 위치 */
}
